
/*------------------------------------------------- */
/* =  News section */
/*------------------------------------------------- */

section.news-section {
	padding: 100px 0 0;
	.news-box {
		padding-bottom: 60px;
        border-bottom: 1px solid #ebebeb;
		.news-post {
			margin-bottom: 30px;
			img {
				width: 100%;
				height: auto;
				@include border-radius(5px);
			}
			.news-content {
				padding: 20px;
			}
			p.auth-paragraph {
				font-family: $font-default;
				font-weight: 300;
				font-size: 15px;
				color: $third-color;
				margin-bottom: 5px;
				a {
					color: $third-color;
				}
				a:hover {
					color: $primary-color;
				}
			}
			p {
				margin-bottom: 15px;
			}
			h2 {
				a {
					color: $title-color;
				}
				a:hover {
					color: $primary-color;
				}
			}
			> a {
				color: $primary-color;
				font-size: 13px;
				font-family: $font-default;
			}
			> a:hover {
				text-decoration: underline !important;
			}
		}
	}
}

section.news-section.second-style {
	.news-box {
		border-bottom: none;
		max-width: 1570px;
		margin: 0 auto;
		padding: 0 65px;
		.item {
			padding: 0 15px;
		}
		.news-post {
			text-align: center;
		}
        .owl-controls {
			z-index: 999;
			position: relative;
			position: absolute;
			top: 110px;
			margin-top: -25px;
			width: 100%;
		}
		.owl-pagination {
			display: none;
		}
		.owl-buttons {
			display: block;
		}
		.owl-buttons div {
			background: transparent;
			margin: 0;
			padding: 0;
			color: #aaaaaa;
			@include transition(0.2s);
			width: 50px;
			height: 50px;
			border: 1px solid #cccccc;
			text-align: center;
			line-height: 48px;
			&:hover {
				color: #fff;
				background: $primary-color;
				border-color: transparent;
			}
		}
		.owl-buttons div.owl-prev {
			float: left;
			margin-left: -60px;
		}
		.owl-buttons div.owl-next {
			float: right;
			margin-right: -60px;
		}
		.owl-buttons div.owl-prev:before {
			content: '\f120';
			font-family: 'LineAwesome';
			font-size: 20px;
		}
		.owl-buttons div.owl-next:before {
			content: '\f121';
			font-family: 'LineAwesome';
			font-size: 20px;
		}
	}
}

section.blog-section {
	padding: 50px 0;
	.blog-box {
		margin-left: -15px;
		margin-right: -15px;
		margin-top: -15px;
		.blog-post {
			width: 350px;
			margin: 15px;
			@include box-shadow(0 10px 15px rgba(0,0,0,0.04));
			img {
				width: 100%;
				height: auto;
				@include border-top-left-radius(5px);
				@include border-top-right-radius(5px);
			}
			.post-content {
				padding: 20px;
				border: 1px solid #e1e1e1;
				border-top: 1px solid transparent;
				@include border-bottom-left-radius(5px);
				@include border-bottom-right-radius(5px);
			}
			p.auth-paragraph {
				font-family: $font-default;
				font-weight: 300;
				font-size: 15px;
				color: $third-color;
				margin-bottom: 5px;
				a {
					color: $third-color;
				}
				a:hover {
					color: $primary-color;
				}
			}
			p {
				margin-bottom: 15px;
			}
			h2 {
				a {
					color: $title-color;
				}
				a:hover {
					color: $primary-color;
				}
			}
			> a {
				color: $primary-color;
				font-size: 13px;
				font-family: $font-default;
			}
			> a:hover {
				text-decoration: underline !important;
			}
		}
	}
	.center-button {
		padding-top: 15px;
	}
}

.pagination-list-box {
	margin-bottom: 20px;
	overflow: hidden;
	a.prev,
	a.next {
	    color: $text-color;
	    font-size: 13px;
	    font-family: $font-default;
	    margin-bottom: 0;
	    margin-top: -30px;
	}
	a.prev:hover,
	a.next:hover {
	    color: $primary-color;
	}
	a.prev {
	    float: left;
	}
	a.next {
	    float: right;
	}
	ul.pages-list {
		@extend .reset-elem;
		text-align: center;
		li {
			display: inline-block;
			a {
				width: 30px;
				height: 30px;
				@include border-radius(50%);
				text-align: center;
				color: $third-color;
				font-size: 13px;
				font-family: $font-default;
				line-height: 30px;
			}
			a:hover,
			a.active {
				color: #fff;
				background: $primary-color;
			}
		}
	}
}

/*------------------------------------------------- */
/* =  Sidebar */
/*------------------------------------------------- */

.sidebar {
	padding-left: 30px;
	.widget {
		margin-bottom: 40px;
		> h2 {
			padding-bottom: 10px;
			margin-bottom: 12px;
			border-bottom: 1px solid #eeeeee;
		}
	}
	.search-widget input[type="search"] {
		margin: 0;
		padding: 10px 20px;
		border: 1px solid #d7d7d7;
		width: 100%;
		outline: none;
		color: #999999;
		font-size: 15px;
		font-family: $font-default;
		font-weight: 300;
		background: #fff;
		@include border-radius(2px);
		@include transition(0.2s);
	}
	.search-widget button {
		background: transparent;
		border: none;
		float: right;
		margin-top: -33px;
		margin-right: 14px;
		position: relative;
		z-index: 2;
		cursor: pointer;
	}
	.search-widget button i {
		color: $third-color;
		font-size: 18px;
	}
	.text-widget {
		p {
			font-family: $font-alternative;
			margin-bottom: 0;
		}
	}
	.category-widget {
		ul {
			@extend .reset-elem;
			li {
				display: block;
				margin-bottom: 5px;
				a {
					color: #666666;
					font-size: 15px;
					font-family: $font-default;
					font-weight: 300;
					span {
						color: #cccccc;
					}
				}
				a:before {
					float: left;
					content: '\f112';
					font-family: 'LineAwesome';
					font-size: 12px;
					margin-right: 15px;
					margin-top: 2px;
				}
				a:hover {
					color: $primary-color;
					text-decoration: underline !important;
				}
			}
			li:last-child {
				margin-bottom: 0;
			}
		}
	}
	.popular-widget {
		ul.popular-list {
			@extend .reset-elem;
			padding-top: 6px;
			li {
				list-style: none;
				overflow-y: hidden;
				margin-bottom: 20px;
				img {
					float: left;
					max-width: 70px;
				}
				.side-content {
					margin-left: 90px;
					padding-top: 4px;
					h2 {
						font-size: 15px;
						line-height: 20px;
						font-weight: 400;
						margin-bottom: 0px;
						a {
							color: $title-color;
						}
						a:hover {
							color: $primary-color;
						}
					}
					span {
						display: inline-block;
						margin: 0;
						color: #999;
						font-size: 15px;
						font-family: $font-alternative;
						font-weight: 300;
					}
				}
			}
			li:last-child {
				margin-bottom: 0;
			}
		}
	}
	.tags-widget {
		ul.tags-list {
			@extend .reset-elem;
			padding-top: 6px;
			li {
				display: inline-block;
				margin-right: 2px;
				margin-bottom: 5px;
				a {
					color: $third-color;
					font-size: 15px;
					font-family: $font-default;
					font-weight: 300;
					padding: 4px 8px;
					border: 1px solid #d7d7d7;
					@include border-radius(2px);
				}
				a:hover {
					color: #666666;
					background: #f6f6f7;
				}
			}
		}
	}
	.advertise-widget {
		text-align: center;
		img {
			max-width: 100%;
			height: auto;
		}
		span {
			display: inline-block;
			color: #999999;
			font-family: $font-alternative;
			font-size: 13px;
			font-weight: 400;
			margin-bottom: 3px;
		}
	}
}
