
/*------------------------------------------------- */
/* =  Single Post */
/*------------------------------------------------- */

.single-post {
    h2 {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
    }
    p.auth-paragraph {
        font-family: $font-default;
        font-weight: 300;
        font-size: 15px;
        color: $third-color;
        margin-bottom: 5px;
        a {
            color: $third-color;
        }
        a:hover {
            color: $primary-color;
        }
    }
    &__image {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
    }
    &__list {
        @extend .reset-elem;
    }
    &__list-item {
        display: inline-block;
        margin-right: 0.25rem;
        color: $text-color;
        font-size: 0.875rem;
        font-weight: 300;
        i {
            color: #ccc;
        }
        a {
            color: $text-color;
        }
        a:hover {
            color: $primary-color;
        }
    }
    &__quote {
        padding: 1rem 0;
        color: $title-color;
        font-size: 1.125rem;
        font-weight: 300;
        font-family: $font-default;
        padding-left: 90px;
        position: relative;
    }
    &__quote:before {
        content: '\f2cd';
        color: $primary-color;
        font-size: 2.125rem;
        display: inline-block;
        font-family: 'LineAwesome';
        position: absolute;
        font-style: normal;
        top: 1.875rem;
        left: 1rem;
    }
    &__tags {
        margin: 1rem 0;
        i {
            color: #ccc;
        }
        a {
            color: $text-color;
        }
        a:hover {
            color: $title-color;
            text-decoration: underline !important;
        }
    }
    &__share-list {
        margin: 1rem 0 2rem;
        text-align: right;
        color: $text-color;
        i {
            color: #ccc;
        }
        a {
            font-size: 0.9375rem;
            margin-left: 0.5rem;
        }
        a.twitter i {
            color: #5ab4d6;
        }
        a.facebook i {
            color: #5252d4;
        }
        a.pinterest i {
            color: #d74040;
        }
        a:hover {
            opacity: 0.7;
        }
    }
    @media (max-width: 767px) {
        &__share-list {
            text-align: left;
        }
    }
}

.other-posts {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    position: relative;
    &__prev,
    &__next {
        display: flex;
        width: 50%;
        align-items: center;
        padding: 0.5rem 0;
        i {
            font-size: 20px;
            color: #999999;
            @include transition(0.2s);
        }
    }
    &__prev:hover,
    &__next:hover {
        i {
            color: $primary-color;
        }
    }
    &__next {
        text-align: right;
        flex-direction: row-reverse;
    }
    &__prev {
        i {
            margin-right: 1rem;
        }
    }
    &__next {
        i {
            margin-left: 1rem;
        }
    }
    &__desc {
        @extend .paragraph;
        margin-bottom: 0;
    }
    &__title {
        margin-bottom: 0;
    }
}

.comment-area-box {
    margin-bottom: 30px;
    > ul {
        @extend .reset-elem;
        padding-top: 10px;
        li {
            list-style: none;
            padding: 20px;
            background: #f6f6f7;
            @include border-radius(3px);
            margin-bottom: 20px;
            .comment-box {
                overflow: hidden;
                img {
                    max-width: 40px;
                    float: left;
                    @include border-radius(3px);
                }
                .comment-content {
                    margin-left: 70px;
                    h4 {
                        color: $title-color;
                        font-size: 15px;
                        font-family: $font-default;
                        font-weight: 400;
                        margin: 0;
                    }
                    span, a {
                        font-size: 13px;
                        color: $third-color;
                        font-family: $font-default;
                        display: inline-block;
                        font-weight: 300;
                        margin: 0 0 16px;
                        i {
                            color: $third-color;
                            margin-right: 8px;
                        }
                    }
                    a, span.date-comm {
                        float: right;
                        margin-left: 10px;
                    }
                    a:hover {
                        color: $primary-color;
                    }
                    p {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

.contact-form {
    padding: 1.875rem;
    background: #f6f6f7;
    margin-bottom: 1.875rem;
    @include border-radius(3px);
    &__input-text,
    &__textarea {
        display: block;
        width: 100%;
        padding: 0.625rem 1.25rem;
        color: #999999;
        font-size: 0.9375rem;
        font-weight: 300;
        background: #ffffff;
        outline: none;
        border: 1px solid #dddddd;
        margin: 0 0 1.875rem;
        @include border-radius(3px);
        @include box-shadow(0 3px 8px rgba(0,0,0,0.02));
        @include transition(0.2s);
    }
    &__input-text:hover,
    &__textarea:hover {
        border-color: $primary-color;
    }
    &__textarea {
        height: 6.25rem;
    }
    &__submit {
        padding: 0.625rem 3rem;
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        border: none;
        background: $primary-color;
        font-family: $font-default;
        outline: none;
        margin: 0;
        cursor: pointer;
        @include border-radius(1.75rem);
        @include transition(0.2s);
    }
    &__submit:hover {
        background: $primary-color;
        @include box-shadow(0 5px 14px rgba(0,0,0,0.1));
    }
}

#msg {
    padding: 0.75rem 1.5rem;
    margin-top: 0.625rem;
}